body {
    font-family: Arial, sans-serif;
    background-color: #fbfbfb;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 40px;
}

.formulario {
    background-color: #c0e8be;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    max-width: 500px;
    padding: 15px;
}

.campo {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#parcial {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
}

#final {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
}

.aprovado {
    background-color: #4CAF50;
    color: white;
}

.recuperacao {
    background-color: #FF9800;
    color: white;
}

.reprovado {
    background-color: #F44336;
    color: white;
}

.campo-invalido {
    border: 2px solid red;
  }

#resultado-box {
    border: 1px solid #d3f703;
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 10%;
}